body {
    background-color: #efefef;
}

.main {
    margin: 30px;
    background-color: white;
}

.btn-publish {
    float: right;
    margin-bottom: 15px;
}

.media-object {
    width: 40px;
    height: 40px;
}

.text {
    font-size: 12px;
    font-weight: normal;
    color: #999;
}

.community-menu{
    color: #999;
    font-size: 13px;
}

.menu{
    color: #999;
    margin-top: 5px;
}

.menu .icon{
    margin-right: 6px;
    font-size: 15px;
    cursor: pointer;
}

.menu .active{
    color: #449ef3;
}
.menu .icon:hover{
    color: #449ef3;
}

.border {
    margin-top: 10px;
    padding-top: 15px;
    margin-bottom: 15px;
    border: 1px solid #eee;
    border-radius: 5px;
}

.tag {
    margin-right: 5px;
}

.question-wechat{
    width: 100%;
}

.notificationComment {
    margin-top: 15px;
    margin-bottom: 5px;
}

.notificationImage {
    width: 50px;
    height: 50px;
}
/* #对应id */
/* .对应class*/
/* 不加对应html 标签 */
.commentText {
    color: #337ab7;
    size: 13px;
    font-size: 15px;
}

