<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:height="http://www.w3.org/1999/xhtml">
<head>
    <title>发布</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <script src="/webjars/jquery/3.4.1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="/js/community.js"></script>
    <link rel="stylesheet" href="/webjars/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/community.css">
</head>

<body>
<!--导航栏-->
<div th:insert="navigation::nav"></div>
<!--发布内容布局-->
<div class="container-fluid main">
    <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
            <h2><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>发起</h2>
            <hr>
            <form action="/publish" method="post">
                <input type="hidden" name="id" th:value="${id}">
                <div class="form-group">
                    <label for="title">问题标题（简单扼要）</label>
                    <input type="text" class="form-control" id="title" name="title" th:value="${title}"
                           placeholder="问题标题..." autocomplete="off">
                </div>
                <div class="form-group">
                    <label for="description">问题补充【必填，请参照右边提示】</label>
                    <textarea class="form-control" name="description" id="description" cols="30"
                              th:text="${description}" rows="10"></textarea>
                </div>

                <div class="form-group">
                    <label for="tag">添加标签</label>
                    <input type="text" class="form-control" id="tag" name="tag" th:value="${tag}"
                           placeholder="输入标签以-隔开" autocomplete="off" onclick="showSelectTag()">
                    <div style="margin-top: 10px;display: none;" id="popTag">
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" th:each="selectTag:${tags}">
                                <a th:href="'#'+${selectTag.categoryName}" aria-controls="home" role="tab"
                                    data-toggle="tab" th:text="${selectTag.categoryName}">开发语言
                                </a>
                            </li>
                        </ul>

                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane" th:id="${selectTag.categoryName}" th:each="selectTag:${tags}">
                                <span class="label label-info" th:each="tagName:${selectTag.getTags()}">
                                    <span class="glyphicon glyphicon-tags" onclick="selectTag(this)" th:data-tag="${tagName}" th:text="${tagName}">Java</span></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="container-fluid main">
                    <div class="row">
                        <div class="alert alert-danger col-lg-9 col-md-12 col-sm-12 col-xs-12" th:if="${error!=null}"
                             th:text="${error}"></div>
                        <button type="submit"
                                class="btn btn-success btn-publish col-lg-3 col-md-12 col-sm-12 col-xs-12">
                            发布
                        </button>
                    </div>
                </div>

            </form>

        </div>
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <h3>问题发起指南</h3>
            问题标题：请用简洁的语言描述您发布的问题
            问题补充：详细补充您的问题内容
            选择标签：选择一个或者多个适合的标签，用逗号隔开
        </div>
    </div>

</div>
</body>
</html>